<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Marco uses Bluetooth to discover nearby contacts in emergency situations when cell service is unavailable.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Marco uses your compass heading to point you toward nearby contacts.</string>
	<key>NSContactsUsageDescription</key>
	<string>Marco needs access to your contacts to identify nearby people you know.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
	</array>
</dict>
</plist>
